@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">A MI APLICACIÓN DE CURRICULUM</a>.</p>
</div>

