@{
    ViewData["Title"] = "Curriculum Inicio";
}

<div class="text-center">
    <h1 class="display-4">EXPERIENCIA LABORAL</h1>
    <div class="row pt-5">
        <div class="col">
            <img src="~/img/fotografia.png" alt="Mí Fotografía" style="width: 100%;">
        </div>
        <div class="col-8">
            <h2>ANGEL ROBERTO MARTINEZ CASTRO</h2>
            <a class="text-white btn btn-primary" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="Index">Datos Personales</a>
            <a class="text-white btn btn-primary" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="PreparacionAcademica">Preparación Academica</a>
            <a class="text-dark btn btn-info" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="ExperienciaLaboral">Experiencia Laboral</a>
            <div class="pt-4">
                <p class="text-start"><b>Periodo:</b> Diciembre 2021 - Octubre 2022</p>
                <p class="text-start"><b>Empresa: </b>STI León</p>
                <p class="text-start"><b>Puesto: </b>ENSAMBLADOR DE PC'S</p>
                <p class="text-start">
                    <b>Funciones</b>: Cotización, compra y montaje de equipos de
                    cómputo, reparación y mantenimiento así como el
                    formateo e instalación del software requerido por el
                    cliente.
                    <br>
                    <br>
                    <b>Logros</b>: Reducción en los tiempos de reparación
                    aumento en la eficiencia de los procesos de instalación
                    y aumento en la eficiencia de los procesos.
                </p>
            </div>
            <hr>
            <div class="pt-4">
                <p class="text-start"><b>Periodo:</b> Mayo - Agosto 2023</p>
                <p class="text-start"><b>Empresa: </b>Edge & Cloud</p>
                <p class="text-start"><b>Puesto: </b>DESARROLLADOR FULL STACK</p>
                <p class="text-start">
                    <b>Funciones</b>: Desarrollar un proyecto desde cero,
                    estableciendo requerimientos, base de datos
                    desarrollando un módulo de gestión documentación
                    WEB en JAVA, JavaScript y MySQ
                    <br>
                    <br>
                    <b>Logros</b>: Reducción y mejora de eficiencia en tiempos
                    en gestionar documentación, obtener información
                    centralizada así como notificaciones en tiempo real..
                </p>
            </div>
        </div>
    </div>
</div>

