@{
    ViewData["Title"] = "Curriculum Inicio";
}

<div class="text-center">
    <h1 class="display-4">MI CURRICULUM</h1>
    <div class="row pt-5">
        <div class="col">
            <img src="~/img/fotografia.png" alt="Mí Fotografía" style="width: 100%;">
        </div>
        <div class="col-8">
            <h2>ANGEL ROBERTO MARTINEZ CASTRO</h2>
            <a class="text-dark btn btn-info" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="Index">Datos Personales</a>
            <a class="text-white btn btn-primary" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="PreparacionAcademica">Preparación Academica</a>
            <a class="text-white btn btn-primary" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="ExperienciaLaboral">Experiencia Laboral</a>
            <div class="pt-4">
                <h3>Datos Personales</h3>
                <p style="text-align: justify">Nací en Nuevo León el 2003, el 2007 me mudé a León Guanajuato donde cursé mi 
                    el Kinder, Primaria, Secundaria y actualmente la universidad.

                    La preparatoria la estudie en el <b>Centro de Estudios Cientificos y Tecnologicos No.17</b> cursé la carrera de 
                    <b>Técnico en Aeronautica</b> donde experimenté la programación y tomé la decición de cambiarme de carrera a la actual
                    <b>Ingeniería en Desarrollo de Software</b> cursando en <b>Universidad Técnologica de León</b>.
                </p>
            </div>
            <div>
                <h3>Habilidades y aptitudes</h3>
                <p>Durante mi carrera, prácticas y tareas he adquirido lo siguiente</p>
               <div class="row">
                <div class="col text-start">
                     <ul>
                        <p><b>Herramientas</b></p>
                        <li>Android</li>
                        <li>Bootstrap 5</li>
                        <li>Phyton</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>MySQL</li>
                        <li>MongoBD</li>
                    </ul>
                </div>
                <div class="col text-start">
                     <ul>
                        <p><b>Aptitudes</b></p>
                        <li>Trabajo en Equipo 5</li>
                        <li>Comunicació</li>
                        <li>Trabajo sobfre presión</li>
                        <li>Empatía</li>
                    </ul>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>

