@{
    ViewData["Title"] = "Curriculum Inicio";
}

<div class="text-center">
    <h1 class="display-4">PERPARACIÓN ACADEMICA</h1>
    <div class="row pt-5">
        <div class="col">
            <img src="~/img/fotografia.png" alt="Mí Fotografía" style="width: 100%;">
        </div>
        <div class="col-8">
            <h2>ANGEL ROBERTO MARTINEZ CASTRO</h2>
            <a class="text-white btn btn-primary" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="Index">Datos Personales</a>
            <a class="text-dark btn btn-info" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="PreparacionAcademica">Preparación Academica</a>
            <a class="text-white btn btn-primary" style="text-decoration:none " asp-area="" asp-controller="Curriculum" asp-action="ExperienciaLaboral">Experiencia Laboral</a>
            <div class="pt-4">
                <h3>Mi preparación Academica</h3>
                <p style="text-align: justify">
                    Inicié en la secundaria <b>Ignacio Manuel Altamirano No.19</b> donde cursé cursos de robótica 
                    WER <b><i>World Educational Robotic</i></b> donde gané el torneo a nivel
                    <b>Federal</b>,<b>Estatal</b> y quedé en <b>4to</b> en nivel <b>Nacional</b>
                    a un puesto de ir a concursar a nivel mundial.
                    <br>
                    <br>
                    En la universidad estudie la carrera de <b>Técnico en Aeronautica</b> donde 
                    se hacía mantenimiento a aeronaves, sin embargo tuve un contacto con algo de programación 
                    y tomé la decisión de cambiarme de carrera.
                    <br>
                    <br>
                    Me gradué de <b>TSU</b> en <b>Desarrollo de Sofware Multiplataforma</b> y actualmente estudió la ingeniería en <b>Desarrollo y Gestión de Software</b>
                    en la <b>Universidad Tecnologica de León</b>
                </p>
            </div>
        </div>
    </div>
</div>

